body {
    font-family: Arial;
    background: #f0f0f0;
}

.box {
    background: white;
    width: 400px;
    margin: 20px auto;
    padding: 15px;
}

textarea {
    width: 100%;
    height: 80px;
}

button {
    padding: 5px 10px;
}
